@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-stack;
  font-size: 62.5%;
}

.admin-root {
  background-image: url('../images/bg/background.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  counter-reset: num;
  min-height: 100vh;

  @import './admin-styles.scss';
}
.client-root {
  background-image: url('../images/i/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  min-height: 100vh;

  @import './client-styles.scss';
}
