$font-stack: 'Roboto', sans-serif;

$lilac: #63536c;
$lightlilac: #bc95d6;
$green: #16a6af;
$black: #000000;
$white: #ffffff;
$red: #c44848;
$grey: #848484;
$lightgrey: #eae9eb;
$startyellow: #ffeb85;
$colors: 10;
$degrees: 360 / $colors;

$colwidth: 42px;
$gapwidth: 20px;
