.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000005e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  opacity: 0;
  pointer-events: none;
  perspective: 240px;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;

  &.active {
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease-in-out;
  }
}

.content {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  padding: 16px;
  transform: rotateX(90deg);
  transition: all 0.3s ease-in-out;

  &.active {
    transform: rotateX(0deg);
    transition: all 0.3s ease-in-out;
    transition-delay: 0.2s;
  }
}

.closeBtn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  outline: none;
  color: #000;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  background-color: #9e0000;
  background-image: url('../../../../assets/images/i/close.png');
  background-size: 15px;
  background-position: center center;
  background-repeat: no-repeat;

  span {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 0;
  }
}
